<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Custom Layout</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body background="{% static 'images/background.jpg' %}" >

{% if result.status_code == 200 %}

<div class="card" style="margin: 15px">
  <div class="card-header">
    Welcome to the custom form layout example.
  </div>
  <div class="card-body">
    <h5 class="card-title">{{result.title}}</h5>
    <p class="card-text">{{result.description}}</p>
  </div>
</div>

{% else %}

<div class="card"  style="margin: 15px">
  <div class="card-header">
    Welcome to the custom form layout example.
  </div>
  <div class="card-body">
    <h5 class="card-title">Oops, looks like we encountered an error.</h5>
    <p class="card-text">{{result.message}}</p>
  </div>
</div>

{% endif %}

{% if result.count != 0 %}

<form action="{{result.responseLink}}" method="POST">
{% for question in result.questions %}

<div class="form-group"  style="padding: 15px">

	{% if question.type == "text" %}
		<div class="card border-primary">
  			<img src="{{question.img}}" class="card-img-top" >
  			<div class="card-body">
    		<h5 class="card-title text-primary">{{question.text}}</h5>
    		<p class="card-text"><input type="text" class="form-control" name="{{question.name}}" ></p>
  			</div>
		</div>
	    <br>
	{% elif question.type == "radio_group" %}
		<div class="card border-primary">
  			<img src="{{question.img}}" class="card-img-top" >
  			<div class="card-body">
    		<p class="card-text text-primary">{{question.text}}</p>
  			</div>
		</div>
		<br>
		<div class="card-deck">
		{% for option in question.options %}
		<div class="card border-secondary">
  			<img src="{{option.img_url}}" class="card-img-top" max-height="200px" max-width="150px">
  			<div class="card-footer">
    			<input class="form-check-input" type="radio" name="{{question.name}}" value="{{option.text}}" >
    			<label class="form-check-label text-secondary" >{{option.text}}</label>
  			</div>
		</div>  	
  		{% endfor %}
  		</div>
  		<br>
	{% else %}	
		<div class="card">
  			<div class="card-body">
    		<h5 class="card-title">Unknown question type</h5>
    		<p class="card-text">Currently not supporting these types of questions.</p>
  			</div>
		</div>
	{% endif %}
</div>

{% endfor %}

<input type="submit" name="SUBMIT" class="btn btn-primary" style="margin:15px">

</form>
{% endif %}
</body>
</html>